@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');



* {

  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --cite: #92979b;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
  transition: all 1s ease;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  min-width: 375px;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grayish-blue);
  transition: all 1s ease;
}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* THEMES */
/* DARK */

body.dark {
  background-color: var(--very-dark-blackish-blue);

  .menuItem {
    color: #1e8c93;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
}

  .card {
    box-shadow: 1px 1px 3px rgb(102, 99, 99);
  }

  .daniel {
    background: linear-gradient(45deg, #536d88, #19274e);
  }

  .danielText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
  }

  .danielCite {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

  .jonathan {
    background: linear-gradient(45deg, #676077, #641f5e);
  }

  .jonathanText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
  }

  .jonathanCite {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

  .jeanette {
    background: linear-gradient(45deg, #ff6e4a, #5c5259);
  }

  .jeanetteText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}

  .jeanetteCite {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

  .patrick {
    background: linear-gradient(45deg, #604878, #301860);
  }

  .patrickText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
  }

  .patrickCite {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

    .kira {
      background: linear-gradient(45deg, #4b3e4d, #1e8c93);
    }

    
  .kiraText {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: var(--very-dark-blackish-blue);
  }

  .kiraCite {
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

.authorText {
    color: #1e8c93;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.attribution {
    color: #1e8c93;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
}

}


/* ------------------------------------------------------------------------------------------------------------------------------------------------ */
/* ELEGANT */


@font-face {
  font-family: 'Coldiac';
  src: url(../src/assets/fonts/Coldiac.otf) format('opentype'), url(../src/assets/fonts/Coldiac.ttf) format('truetype');
}

@font-face {
  font-family: 'Brela';
  src: url(../src/assets/fonts/brelaregular.otf) format('opentype'), url(../src/assets/fonts/Coldiac.ttf) format('truetype');
}


body.elegant {
  background: linear-gradient(45deg, #fafaf8, #ffeccb);

  .menuItem {
    color: #2c2f34;
    font-weight: 700;
    font-family: 'Coldiac', sans-serif;
}

  .card {
    box-shadow: 1px 2px 3px 4px rgba(12, 12, 12, 0.2);
  }

  .daniel {
    background: linear-gradient(45deg, #505154, #2c2f34);
  }

  .danielText {
    font-family: 'Coldiac', serif;
    font-weight: 200;
    font-size: 1.3rem;
  }

  .danielCite {
    font-family: 'Brela', serif;
    font-size: .9rem;
    color: var(--light-gray);
  }

  .jonathan {
    background: linear-gradient(45deg, #676077, #641f5e);
  }

  .jonathanText {
    font-family: 'Coldiac', serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #c89d6f;
  }

  .jonathanCite {
    font-family: 'Brela', serif;
    color: #93969e;
  }

  .jeanette {
    background: linear-gradient(45deg, #a2ad91, #3a2d32);
  }

  .jeanetteText {
    font-family: 'Coldiac', serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #fafafa;
}

  .jeanetteCite {
    font-family: 'Brela', serif;
    color: #c89d6f;
  }

  .patrick {
    background: linear-gradient(45deg, #003049, #669bbc);
  }

  .patrickText {
    font-family: 'Coldiac', serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #c89d6f;
  }

  .patrickCite {
    font-family: 'Brela', serif;
    color: #fafafa;
  }

  .kira {
    background: linear-gradient(45deg, #fafafa, #434343);
  }

    
  .kiraText {
    font-family: 'Coldiac', serif;
    font-weight: 200;
    font-size: 1.3rem;
    color: #c89d6f;
  }

  .kiraCite {
    font-family: 'Brela', serif;
    color: rgb(36, 33, 33);
  }

.authorText {
  color: #c89d6f;
  font-family: 'Coldiac', serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.attribution {
  color: #c89d6f;
  font-family: 'Coldiac', serif;
  font-size: 1.3rem;
  text-transform: uppercase;
}

}
